.notification-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    width: 30px;
    height: 30px;
}

.notification-toggle:hover {
    background: rgba(255, 255, 255, 0.05);
}
.more-container {
    position: relative;
}
.z-more {
    z-index: 10;
}
.notification-options {
    position: absolute;
    right: 0px;
    top: 40px;
}
.moreBtn-visible {
    display: block !important;
}

.moreBtn-hidden {
    display: none;
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
