.dropdown {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  border-radius: 32px;
  position: relative;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: #0d1e21;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.14);
  padding: 13px 5px 13px 5px;
  /* width: 200px; */
  /* height: 210px; */
  overflow-y: auto;
}
.dropdown .dropdown-toggle {
  margin: 0px 0 8px 13px;
  font-size: 12px;
  line-height: 18px;
  color: white;
}

.dropdown::-webkit-scrollbar {
  height: 25px;
}

.dropdown::-webkit-scrollbar-button {
  height: 25px;
}
.dropdown::-webkit-scrollbar {
  width: 3px;
  border-radius: 50%;
}
.dropdown::-webkit-scrollbar-track {
  background: rgba(255, 0, 0, 0);
}
.dropdown::-webkit-scrollbar-thumb {
  background: #3d5afe;
  border-radius: 22%;
}
.dropdown-item {
  display: flex;
  gap: 9px;
  background: transparent;
  padding: 6.6px 13px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  white-space: nowrap;
}
.dropdown-item:hover {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.dropdown-item p {
  text-transform: capitalize;
  font-size: 14px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  color: rgba(255, 255, 255, 0.6);
}
.dropdown-item:hover p {
  color: #ffffff;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.left-line {
  color: #3d5afe;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.border {
  position: absolute;
  left: -5px;
  z-index: 10;
  height: 32px;
  width: 2px;
  background: #3d5afe;
  border-radius: 5px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.filter {
  display: none;
}
.dropdown div:nth-child(2) h1 {
  margin-top: 10px;
}
.dropdown-item > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* country dropdown */
.dropdown-country {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  /* width: fit-content; */
  border-radius: 32px;
  position: relative;
  border: 1px solid #202431;
  background-color: #141726;
  border-radius: 8px;
  padding: 20px 5px 13px 5px;
  /* width: 322px; */
  /* height: 210px; */
  overflow-y: auto;
}
.dropdown-country .dropdown-toggle {
  margin: 0px 0 8px 13px;
  font-size: 12px;
  line-height: 18px;
  color: white;
}
.dropdown-country .dropdown-item-country {
  display: flex;
  align-items: center;
  gap: 9px;
  background: transparent;
  padding: 6.6px 13px;
  margin-bottom: 12px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.dropdown-country .dropdown-menu-country:last-child {
  margin-bottom: 0px;
}
.dropdown-country .dropdown-item-country:hover {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.dropdown-country .dropdown-item-country p {
  text-transform: capitalize;
  font-size: 14px;
  color: #9c9da3;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.dropdown-country .dropdown-item-country:hover p {
  color: #fff;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
/* scrollbar */
.dropdown-country::-webkit-scrollbar {
  height: 30px;
}

.dropdown-country::-webkit-scrollbar-button {
  height: 30px;
}
.dropdown-country::-webkit-scrollbar {
  width: 3px;
  border-radius: 50%;
}
.dropdown-country::-webkit-scrollbar-track {
  background: rgba(255, 0, 0, 0);
}
.dropdown-country::-webkit-scrollbar-thumb {
  background: #3d5afe;
  border-radius: 22%;
}
.dropdown-menu-country img {
  width: 24px;
  height: 12px;
}
.dropdown-country {
  max-height: 300px;
  overflow: scroll;
}
.dropdown-search-input {
  width: 100%;
  background: transparent;
  border: 1px solid #1f2330;
  height: 35px;
  margin-bottom: 15px;
  padding: 0px 10px;
  border-radius: 4px;
}
.add-search-btn {
  position: absolute;
  right: 10px;
  top: 17px;
  height: 26px;
  padding: 0px 5px;
  border-radius: 4px;
  cursor: pointer;
  background: #3d5afe;
  display: flex;
  align-items: center;
  font-size: 12px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.add-search-btn:hover {
  opacity: 0.7;
}
