.trade-content-container {
  display: flex;
  flex: 1;
  width: 100%;
  height: calc(100vh - 110px);
  background-color: #0e2225;
  position: relative;
  background-clip: padding-box;
  overflow-y: hidden;
  flex-wrap: wrap;
}

.trade-main-bg {
  display: flex;
  flex: 1;
  width: 100%;
  min-height: 100vh;
  padding-top: 70px;
  height: 100%;
  background-color: #10282b;
  position: relative;
}

.trade-top-info-row {
  display: flex;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.trade-top-info-title {
  padding-left: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  grid-area: 5px;
  width: 363px;
}

.trade-top-info-prices {
  display: flex;
  align-items: center;
  gap: 30px;
}

.trade-top-info-block {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.trade-top-info-block p {
  color: rgba(255, 255, 255, 0.6);
}

.trade-top-info-data {
  display: flex;
  align-items: center;
}

.positive-change {
  color: #67be7a;
}

.negative-change {
  color: #e87450;
}

.trade-type-change {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px 6px;
  border-radius: 45px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
}

.card-slider-navigation_item .left-border-radius {
  border-radius: 0px 0px 20px 0px;
}

.card-slider-navigation_item .right-border-radius {
  border-radius: 0px 0px 0px 20px;
}
.card-slider-navigation_item {
  border: 1px solid rgba(255, 255, 255, 0);
  margin-top: 10px;
}
.card-slider-navigation_item.active {
  background-color: #10282b;
  border-color: rgba(255, 255, 255, 0.1);
}

.trade-left-side {
  width: 370px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.trade-middle-side {
  height: calc(100vh - 175px);
  width: calc(100% - 370px);
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}
.trade-middle-side-top {
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
}
.trade-left-side-body {
  width: 100%;
  background-color: #10282b;
  padding: 20px 10px 20px 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  height: calc(100% - 300px);
}
.trade-left-side-body-inner {
  height: 100%;
  overflow-y: auto;
  padding-right: 10px;
}
.trade-transfer-btn {
  width: 100%;
  height: 32px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
  margin-top: 20px;
}
.trade-avalible-status {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-top: 30px;
}
.trade-avalible-status span {
  opacity: 0.6;
  margin-right: 10px;
}
.trade-avalible-status svg {
  margin-left: 10px;
  cursor: pointer;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.trade-avalible-status svg:hover {
  transform: rotate(90deg);
}
.txt-left {
  text-align: left;
}
.trade-middle-chart-nav {
  display: flex;
  height: 44px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 14px;
  margin: 10px 0px;
  padding: 6px;
  align-items: center;
}
.trade-middle-chart-btns {
  display: flex;
  gap: 5px;
}
.trade-middle-chart-btn {
  height: 32px;
  width: 32px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  font-size: 12px;
  cursor: pointer;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.trade-middle-chart-btn:hover,
.trade-middle-chart-btn.active {
  border-color: rgba(195, 140, 92, 1);
  color: rgba(195, 140, 92, 1);
}
.trade-left-side__ttl {
  width: 100%;
  height: 140px;
  background: rgba(13, 30, 33, 1);
  margin-bottom: -70px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 10px;
  border-top-left-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.trade-left-side__ttl span:first-child {
  font-size: 20px;
  line-height: 130%;
}
.trade-left-side__ttl span:last-child {
  font-size: 12px;
  line-height: 130%;
  color: rgba(255, 255, 255, .6);
}
.noPR {
  padding-right: 0px!important;
}
.trade-content-container {
  height: 100vh;
  overflow: hidden;
}
.trade-flex-inputs {
  display: flex;
  width: 100%;
  gap: 10px;
  margin-top: 20px;
}
@media only screen and (max-width: 1900px) {
}
