.trade-content-container {
  display: flex;
  flex: 1;
  width: 100%;
  height: calc(100vh - 110px);
  background-color: #0e2225;
  border: 1px solid rgba(255, 255, 255, 0.15);
  position: relative;
  background-clip: padding-box;
  border-radius: 30px;
  overflow-y: hidden;
  flex-wrap: wrap;
}

.trade-main-bg {
  display: flex;
  flex: 1;
  width: 100%;
  min-height: 100vh;
  padding-top: 70px;
  height: 100%;
  background-color: #10282b;
  position: relative;
}

.trade-top-info-row {
  display: flex;
  width: 100%;
  min-height: 60px;
  height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.trade-top-info-title {
  padding-left: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  grid-area: 5px;
  width: 363px;
}

.trade-top-info-prices {
  display: flex;
  align-items: center;
  gap: 30px;
}

.trade-top-info-block {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.trade-top-info-block p {
  color: rgba(255, 255, 255, 0.6);
}

.trade-top-info-data {
  display: flex;
  align-items: center;
}

.positive-change {
  color: #67be7a;
}

.negative-change {
  color: #e87450;
}

.trade-type-change {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px 6px;
  border-radius: 45px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
}

/* .card-slider-navigation_item_container {
  background: #0d1e21;
  border-radius: 20px 20px 0px 0px;
}

.card-slider-navigation_item .left-border-radius {
  border-radius: 0px 0px 20px 0px;
}

.card-slider-navigation_item .right-border-radius {
  border-radius: 0px 0px 0px 20px;
}
.card-slider-navigation_item {
  border: 1px solid rgba(255,255,255,0);
  margin-top: 10px;
}
.card-slider-navigation_item.active {
  background-color: #10282b;
  border-color: rgba(255,255,255,.1);
} */

.trade-left-side {
  width: 370px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 125px);
}
.trade-middle-side {
  height: calc(100vh - 175px);
  width: calc(100% - 740px);
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}
.trade-right-side {
  width: 370px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 125px);
}
.trade-middle-side-top {
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
}
.trade-right-side-body {
  width: 100%;
  background-color: #10282b;
  padding: 20px 10px 20px 0px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  height: 100%;
  margin-top: 10px;
}
.trade-left-side-body {
  width: 100%;
  background-color: #10282b;
  padding: 20px 10px 20px 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  height: calc(100% - 110px);
}
.trade-left-side-body-inner {
  height: 100%;
  overflow-y: auto;
  padding-right: 10px;
}
.trade-transfer-btn {
  width: 100%;
  height: 32px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
  margin-top: 20px;
}
.trade-avalible-status {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-top: 30px;
}
.trade-avalible-status span {
  opacity: 0.6;
  margin-right: 10px;
}
.trade-avalible-status svg {
  margin-left: 10px;
  cursor: pointer;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.trade-avalible-status svg:hover {
  transform: rotate(90deg);
}
.trade-right-side-ttl {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
  padding-right: 10px;
  padding-left: 30px;
}
.trade-right-th {
  width: 33.33333%;
  text-align: right;
  font-size: 12px;
  opacity: 0.6;
}
.trade-right-th svg {
  margin: auto 5px;
  margin-bottom: -1px;
}
.trade-right-td {
  width: 33.33333%;
  text-align: right;
  font-size: 12px;
  position: relative;
  z-index: 3;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.txt-left {
  text-align: left;
}
.trade-right-side-half {
  width: 100%;
  height: calc(50% - 50px);
}
.trade-right-side-half-inner {
  overflow-y: auto;
  max-height: 100%;
}
.trade-right-td-item {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  padding-left: 30px;
  padding-right: 5px;
  margin-bottom: 3px;
}
.trade-right-td-line {
  position: absolute;
  height: 100%;
  left: 0px;
  top: 0px;
}
.trade-right-td-item.red .trade-right-td-line {
  background: #e87450;
  opacity: 0.3;
}
.trade-right-td-item.red .txt-left {
  color: #e87450;
}
.trade-right-td-item.green .trade-right-td-line {
  background: rgba(103, 190, 122, 1);
  opacity: 0.3;
}
.trade-right-td-item.green .txt-left {
  color: rgba(103, 190, 122, 1);
}
.trade-right-side-price.green {
  color: rgba(103, 190, 122, 1);
}
.trade-right-side-price.red {
  color: #e87450;
}
.trade-right-side-price {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.trade-right-side-price svg {
  margin-left: 5px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.trade-right-side-price.red svg {
  transform: rotate(180deg);
}
.trade-right-side-price path {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.trade-right-side-price.green path {
  fill: rgba(103, 190, 122, 1);
}
.trade-right-side-price.red path {
  fill: #e87450;
}
.trade-order-book-info {
  position: fixed;
  right: 380px;
  width: 280px;
  z-index: 20;
  transform: translateY(-50%);
  pointer-events: none;
}
.trade-right-td-select {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  z-index: 2;
  top: 0px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  border-top: 1px dashed rgba(255, 255, 255, 0);
  border-bottom: 1px dashed rgba(255, 255, 255, 0);
}
.trade-right-td-select.active {
  background: rgba(255, 255, 255, 0.1);
}
.trade-right-td-item.red .trade-right-td-select.corner {
  border-top-color: rgba(255, 255, 255, 0.4);
}
.trade-right-td-item.green .trade-right-td-select.corner {
  border-bottom-color: rgba(255, 255, 255, 0.4);
}
.trade-middle-chart-nav {
  display: flex;
  height: 44px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 14px;
  margin: 10px 0px;
  padding: 6px;
  align-items: center;
}
.trade-middle-chart-btns {
  display: flex;
  gap: 5px;
}
.trade-middle-chart-btn {
  height: 32px;
  width: 32px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  font-size: 12px;
  cursor: pointer;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.trade-middle-chart-btn:hover,
.trade-middle-chart-btn.active {
  border-color: rgba(195, 140, 92, 1);
  color: rgba(195, 140, 92, 1);
}
.trade-middle-side-bottom {
  width: 100%;
  height: 45%;
  display: flex;
}
.trade-middle-side-bottom-half {
  width: 50%;
}
.trade-middle-side-bottom-half:nth-child(1) {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding-right: 20px;
}
.trade-middle-side-bottom-half:nth-child(2) {
  padding-left: 20px;
}
.trade-bottom-side-ttl {
  display: flex;
  width: 100%;
  padding-right: 5px;
}
.trade-right-td-item.trade-bottom-td-item {
  padding-left: 0px;
}
.trade-middle-side-bottom-content {
  overflow-y: auto;
  height: calc(100% - 95px);
}
.trade-search-input {
  position: relative;
}
.trade-search-input svg {
  position: absolute;
  left: 12px;
  top: 8px;
}
.trade-search-input input {
  background: transparent;
  width: 100%;
  height: 32px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 28px;
  padding: 0px 35px;
}
.swiper-slide {
  width: auto;
}
.trade-search-slider {
  margin: 10px 0px;
  position: relative;
}
.trade-search-slider-in {
  width: calc(100% - 75px);
  margin-left: 55px;
}
.trade-search-slider_next-container {
  display: flex;
}
.trade-search-slider_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  cursor: pointer;
  border-radius: 25px;
  padding: 0px 8px;
}
.trade-search-slider_btn path {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.trade-search-slider_btn.active path,
.trade-search-slider_btn:hover path {
  fill: rgba(195, 140, 92, 1);
}
.trade-search-slider_btn.active,
.trade-search-slider_btn:hover {
  border-color: rgba(195, 140, 92, 1);
  color: rgba(195, 140, 92, 1);
}
.trade-search-slider_next-container .trade-search-slider_btn {
  width: 25px;
  border-radius: 50%;
  padding: 0px;
}
.trade-search-slider_next-container {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-right: 5px;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
}
.trade-search-slider_prev {
  position: absolute;
  right: 0px;
  top: 0px;
}
.trade-search-slider_prev:hover {
  transform: translateX(5px);
}
.trade-search-slider_next,
.trade-search-slider_prev {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.trade-search-slider_next:hover path,
.trade-search-slider_prev:hover path {
  stroke: rgba(195, 140, 92, 1);
}
.trade-search-slider_next {
  transform: rotate(-180deg);
}
.trade-search-slider_next:hover {
  transform: translateX(-5px) rotate(-180deg);
}
@media only screen and (max-width: 1900px) {
}
