.staking-main {
  padding: 70px 0 0 0;
  background: #272c57;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.staking-tables-container {
  background: #2d3364;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  padding: 70px 100px;
}

.staking-content {
  background-color: #2f3674;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 125px;
  padding: 60px 100px;
}

.staking-content-main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.staking-content-main > h2 {
  font-weight: 700;
  font-size: 60px;
  line-height: 130%;
}

.staking-content-info {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.staking-content-info_buttons {
  display: flex;
  padding-top: 30px;
}

@media only screen and (max-width: 1025px) {
  .staking-content {
    display: flex;
    flex-direction: column;
    padding: 60px 20px;
  }
  .staking-tables-container {
    padding: 70px 20px;
  }
}
