/* default input */
.input-group {
    position: relative;
    width: 100%;
    max-width: 325px;
    height: auto;
}
.form-control {
    width: 100%;
    padding: 11.5px 16px 11.5px 16px;
    background-color: #070B1A;
    border: 1px solid #1F2330;
    border-radius: 6px;
    color: #fff;
    text-transform: capitalize;
}
.input-group-icon {
    position: absolute;
    top: 8px;
    right: 11.5px;
    width: 24px;
    height: 24px;
}
.form-control:hover {
    border: 1px solid rgba(61, 90, 254, 0.6);
}
.form-control:focus {
    border: 1px solid #3D5AFE;
}
.success {
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.disabled {
    opacity: 0.2;
    pointer-events: none;
}
/* end of default input */

/* label input */
.input-group-lable {
    /* position: relative; */
    width: 100%;
    max-width: 325px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input-group-item, .select-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.input-group-title span {
    color: #6A6D76;
    margin-left: 5px;
}
.input-form {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 16px;
    
}
.input-form-inner {
    position: relative;
    max-width: 268px;
    width: 100%;
    height: auto;
}
.input-group-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 11.5px;
    right: 11.5px;
    width: 29px;
    height: 17px;
    background-color: #1F2330;
    border-radius: 13px;
    text-transform: uppercase;
    font-size: 10px;
}
.input-form-frame {
    color: #fff;
    padding: 11px 7px;
    background-color: #1F2330;
    border-radius: 8px;
    text-transform: uppercase;
    border: 1px solid rgba(255, 255, 255, 0.05)
}
.input-group-frame-secondary {
    font-size: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 29px;
    height: 17px;
    background-color: #1F2330;
    border-radius: 13px;
    text-transform: uppercase;
}
.input-group-text {
    display: flex;
    align-items: center;
    gap: 5px;
}
/* select input */
.form-select {
    width: 100%;
    padding: 11.5px 16px 11.5px 16px;
    background-color: #070B1A;
    border: 1px solid #1F2330;
    border-radius: 6px;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
}
.selected {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.status-group {
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: capitalize;
}
/* end of select input */

/* upload box */
.upload-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
.upload-group-title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.upload-group-title p:last-child {
    color: #EF5350;
}
.upload-group-inner {
    display: flex;
    align-items: center;
    gap: 55px;
    width: 100%;
    border: 1px dashed rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 10px;
}
.upload-group-placeholder {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.upload-group-text {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 5px;
}
.upload-group-text p:first-child {
    color: #9C9DA3;
}
.upload-btn {
    color: #3D5AFE;
    /* cursor: pointer; */
    /* z-index: 1; */
    /* pointer-events: none; */
}
.upload-control {
    position: absolute;
    top: 23px;
    left: 49px;
    width: 50px;
    height: 16px;
    opacity: 0;
}

/* end of upload box */

/* end of label-input */
/* .secondary {
    padding-right: 55px;
} */

/* default input with icon and without icon
.input-outer {
    margin-top: 30px;
}
.input-inner {
    position: relative;
    width: 300px;
    height: auto;
    transition: .5s;
}
.input-inner:hover .input {
    border: 1px solid #3D5AFE99;
    transition: .5s;
}
.input {
    width: 300px;
    padding: 12.5px 50px 12.5px 16px;
    background-color: #070B1A;
    border: 1px solid #1F2330;
    border-radius: 6px;
    color: #fff;
    transition: .5s;
    text-transform: capitalize;
}
.input:focus {
    border: 1px solid #3D5AFE;
    transition: .5s;
    color: #fff;
}
.icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 8.5px;
    right: 16px;
    transition: .5s;
}
.active {
    border: 1px solid #393C48;
}
.disabled {
    opacity: 0.2;
    pointer-events: none;
}
end of default input

label input
.lable-input {
    margin-top: 20px;
}
.inner {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.item {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
}
.item-inner {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 264px;
    height: auto;
}
.item-inner p, .item p {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
}
.item-inner p span {
    color:#6A6D76;
}
.input-area {
    width: 264px;
    height: 44px;
    padding: 12.5px 60px 12.5px 16px;
    background-color: #070B1A;
    border: 1px solid #1F2330;
    border-radius: 6px;
    color: #fff;
    transition: .5s;
    text-transform: capitalize;
    margin-top: 10px;
    transition: .5s;
}
.input-b {
    width: 300px;
    padding: 12.5px 16px 12.5px 16px;
}
.frame {
    position: absolute;
    top: 39px;
    right: 15px;
    background-color: #1F2330;
    color: #fff;
    padding: 1px 6px;
    border-radius: 8px;
}
.frame-row {
    padding: 1px 6px;
    background-color: #1F2330;
    text-transform: uppercase;
    border-radius: 8px;
    color: #fff!important;
}
.sub-item {
    padding: 12px 8px;
    margin-top: 25px;
    border-radius: 8px;
    text-transform: uppercase;
    text-align: center;
    background-color: #1F2330;
}
.input-area:hover {
    border: 1px solid #3D5AFE99;
}
.input-area:focus {
    border: 1px solid #3D5AFE;
    transition: .5s;
    color: #fff;
}
end of label input
select input
.select-item {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.select-item p:first-child {
    color: #fff;
}
.select {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 46px;
    margin-top: 10px;
    width: 300px;
    padding: 12.5px 16px 12.5px 16px;
    background-color: #070B1A;
    border: 1px solid #1F2330;
    border-radius: 6px;
    color: #fff;
    transition: .5s;
    text-transform: capitalize;
}
.active-select {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.options {
    overflow: hidden;
    margin-top: 10px;
}
.alert {
    color: #EF5350;
    margin-top: 5px;
}
.info {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
} */
