.input-outer {
    background-color: #070B1A;
    width: 100%;
    height: 350px;
    padding: 60px 0px 0px 60px;
}
.input-inner {
    position: relative;
    width: 300px;
    height: auto;
    transition: .5s;
}
.input-inner:hover .input {
    border: 1px solid #3D5AFE99;
    transition: .5s;
}
.input {
    /* height: 40px;     */
    /* position: relative; */
    width: 300px;
    padding: 12.5px 50px 12.5px 16px;
    background-color: #070B1A;
    border: 1px solid #1F2330;
    border-radius: 6px;
    color: #fff;
    transition: .5s;
    text-transform: capitalize;
}
.input:focus {
    border: 1px solid #3D5AFE;
    transition: .5s;
    color: #fff;
}
.icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 8.5px;
    right: 16px;
    transition: .5s;
}
/* .icon {
    position: absolute;
    width: 24px;
    height: 24px;
    z-index: 1;
    top: 8.5px;
    right: 16px;
    cursor: pointer;
    transition: .5s;
}
.icon path {
    transition: .5s;
}
.icon:hover path {
    fill: #3D5AFE;
} */
.active {
    border: 1px solid #393C48;
}
.disabled {
    opacity: 0.2;
    pointer-events: none;
}

/* .disabled svg {
    opacity: 0.2;
} */