/* default input */
.input-group {
    position: relative;
    width: 100%;
    gap: 5px;
    /* max-width: 325px; */
    height: auto;
    display: flex;
    flex-direction: column;
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.form-control {
    width: 100%;
    padding: 11.5px 16px 11.5px 16px;
    background-color: transparent;
    border: 1px solid #1F2330;
    border-radius: 6px;
    color: #fff;
    text-transform: capitalize;
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.input-group-icon {
    position: absolute;
    top: 8px;
    right: 11.5px;
    width: 24px;
    height: 24px;
}
.form-control:hover {
    border: 1px solid rgba(61, 90, 254, 0.6);
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.form-control:focus {
    border: 1px solid #3D5AFE;
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.success {
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.disabled {
    opacity: 0.2;
    pointer-events: none;
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
/* end of default input */

/* label input */
.input-group-lable {
    /* position: relative; */
    width: 100%;
    max-width: 325px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input-group-item, .select-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.input-group-title {
    text-transform: capitalize;
}
.input-group-title span {
    color: #6A6D76;
    margin-left: 5px;
}
.input-form {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 16px;
    
}
.input-form-inner {
    position: relative;
    width: 100%;
    height: auto;
}
.input-form-frame-outer {
    display: flex;
    gap: 5px;
    align-items: center;
}
.input-group-text-sc {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.input-toggle {
    display: flex;
    gap: 6px;
    align-items: center;
}
.input-toggle p {
    color: #9C9DA3;
    text-transform: capitalize;
}
.input-group-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 11.5px;
    right: 11.5px;
    /* width: 29px; */
    padding: 1px 6px;
    height: 18px;
    background-color: #1F2330;
    border-radius: 13px;
    text-transform: uppercase;
    font-size: 10px;
    padding-bottom: 1px;
}
.input-form-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 44px;
    height: 44px;
    padding: 12px 14px;
    /* width: 42px!important;
    height: 42px!important; */
    /* padding: 12px 8px; */
    background-color: #1F2330;
    border-radius: 8px;
    text-transform: uppercase;
    border: 1px solid rgba(255, 255, 255, 0.05);
    cursor: pointer;
}
.input-group-frame-secondary {
    font-size: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 29px; */
    padding: 1px 6px;
    height: 17px;
    background-color: #1F2330;
    border-radius: 13px;
    text-transform: uppercase;
}
.input-group-text {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* select input */

.select-control {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 13px;
    cursor: pointer;
}

.select-prefix {
    display: flex;
    align-items: center;
    gap: 7px;
    width: calc(13% - 3.5px);
}
.select-body {
    width: calc(10% - 3.5px);
}
.select-sufix {
    display: flex;
    align-items: center;
    gap: 7px;
    width: calc(77% - 3.5px);
}
.number-control {
    background-color: transparent;
    border: none;
    width: 100%;
}
.number-control[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.select-body {
    color: #6A6D76;
}   
.arrow {
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.rotate {
    transform: rotate(-180deg);
}
.visible {
    display: block!important;
}
.hidden {
    display: none;
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.flag img{
    width: 24px;
    height: 12px;
    background-color: #9C9DA3;
}
/* .select-sufix p span {
    color: #6A6D76;
    margin-right: 7px;
} */
/* end of select input */

/* upload box */
.upload-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
.upload-group-title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.upload-group-title p:last-child {
    color: #EF5350;
}
.upload-group-inner {
    display: flex;
    align-items: center;
    gap: 55px;
    width: 100%;
    border: 1px dashed rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 10px;
}
.upload-group-placeholder {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.upload-group-text {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 5px;
}
.upload-group-text p:first-child {
    color: #9C9DA3;
}
.upload-btn {
    color: #3D5AFE;
    cursor: pointer;
    z-index: 1;
    /* z-index: 1; */
    /* pointer-events: none; */
}
.upload-control {
    position: absolute;
    top: 23px;
    left: 49px;
    width: 50px;
    height: 16px;
    opacity: 0;
}
.avatar-sm {
    position: absolute;
    top: 0;
    left: 0;
    width: 58px;
    height: 58px;
    border-radius: 40px;
    object-fit: cover;
}
.delete-btn {
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    cursor: pointer;
}
.delete-btn:hover {
    color: #3D5AFE!important;
}

/* end of upload box */

/* end of label-input */


/* search input */
.search-input {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 44px;
    display: flex;
    align-items: center;
    gap: 16px;
}
.search-control {
    background-color: transparent;
    border: none;
    width: 100%;
    text-transform: capitalize;
}
.search-input-item {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    padding-left: 16px;
}
.search-control::-webkit-search-cancel-button{
    display: none;
}
.select-form {
    position: relative;
    display: flex;
    align-items: center;
    gap: 37px;
    cursor: pointer;
    width: 100%;
}

.form-select {
    position: relative;
}

.select-modal {
    display: block!important;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 1;
    /* width: 150px; */
    /* background-color: red; */
}
.select-modal-sc {
    display: flex;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 1;
    width: 100%;
}
.form-select-sc {
    position: relative;
    width: 100%;
    height: auto;
}
.form-select-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

/* date picker */
.react-datepicker{
    background: #0A0F18 !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3) !important;
    border-radius: 4px;
    width: 255px !important;
    display: flex;
    justify-content: flex-start;
  }
  .react-datepicker div{
    color:white
  }
  .react-datepicker__header{
    background: #0A0F18 !important;
    border-bottom: none !important;
    padding-bottom: 0px !important;
    width: 252px !important;
  
  } 
  
  .react-datepicker__header:after {
    content: "";
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding-bottom: 8px;
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  
  .react-datepicker__day{
    border-radius: 3px;
    border: 0.5px solid rgba(255, 255, 255, 0.05);
    margin-left: 0.3rem !important;
    margin-right: 0.3rem !important;
  }
  
  .react-datepicker__day--disabled{
    color: #4D5057 !important;
  }
  
  .react-datepicker__day--selected{
    background: #0500ff !important;
  }
  
  .react-datepicker__day--keyboard-selected{
    background-color: #0500ff !important;
  }
  
  .react-datepicker__day:hover{
    background-color: rgba(255, 255, 255, 0.1) !important;
  }
  
  .react-datepicker__navigation-icon::before{
    border-width: 1px 1px 0 0 !important;
    width: 6px !important;
    height: 6px !important;
    top:50%;
    transform: translateY(-50%);
    top: 11px !important;
  }
  
  .react-datepicker__time-list-item {
    width: 100% !important;
  }
  
  .react-datepicker__day-name{
    margin: 0.3rem !important;
  }
  .react-datepicker__time-container{
    float: none;
    width: 252px!important;
  }
  
  .react-datepicker__time{
    width: 252px !important;
  }
  
  .react-datepicker__time-box{
    width: 252px !important;
    margin-left: 1 !important;
    margin-right: 1 !important;
    text-align: left !important;
  }
  
  .react-datepicker__time-list-item {
    border-radius: 2px;
  }
  /* 1px solid rgba(255, 255, 255, 0.1) */
  
  
  .react-datepicker__time{
    background: #0A0F18 !important;
  }
  .react-datepicker__time-list-item--selected{
    background-color: #0500ff !important;
  }
  
  .react-datepicker__time-list-item:hover{
    background-color: rgba(255, 255, 255, 0.1)!important;
  }
  
  .react-datepicker__triangle{
    display: none;
  }
/* end date picker */




























/* .secondary {
    padding-right: 55px;
} */

/* default input with icon and without icon
.input-outer {
    margin-top: 30px;
}
.input-inner {
    position: relative;
    width: 300px;
    height: auto;
    transition: .5s;
}
.input-inner:hover .input {
    border: 1px solid #3D5AFE99;
    transition: .5s;
}
.input {
    width: 300px;
    padding: 12.5px 50px 12.5px 16px;
    background-color: #070B1A;
    border: 1px solid #1F2330;
    border-radius: 6px;
    color: #fff;
    transition: .5s;
    text-transform: capitalize;
}
.input:focus {
    border: 1px solid #3D5AFE;
    transition: .5s;
    color: #fff;
}
.icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 8.5px;
    right: 16px;
    transition: .5s;
}
.active {
    border: 1px solid #393C48;
}
.disabled {
    opacity: 0.2;
    pointer-events: none;
}
end of default input

label input
.lable-input {
    margin-top: 20px;
}
.inner {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.item {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
}
.item-inner {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 264px;
    height: auto;
}
.item-inner p, .item p {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
}
.item-inner p span {
    color:#6A6D76;
}
.input-area {
    width: 264px;
    height: 44px;
    padding: 12.5px 60px 12.5px 16px;
    background-color: #070B1A;
    border: 1px solid #1F2330;
    border-radius: 6px;
    color: #fff;
    transition: .5s;
    text-transform: capitalize;
    margin-top: 10px;
    transition: .5s;
}
.input-b {
    width: 300px;
    padding: 12.5px 16px 12.5px 16px;
}
.frame {
    position: absolute;
    top: 39px;
    right: 15px;
    background-color: #1F2330;
    color: #fff;
    padding: 1px 6px;
    border-radius: 8px;
}
.frame-row {
    padding: 1px 6px;
    background-color: #1F2330;
    text-transform: uppercase;
    border-radius: 8px;
    color: #fff!important;
}
.sub-item {
    padding: 12px 8px;
    margin-top: 25px;
    border-radius: 8px;
    text-transform: uppercase;
    text-align: center;
    background-color: #1F2330;
}
.input-area:hover {
    border: 1px solid #3D5AFE99;
}
.input-area:focus {
    border: 1px solid #3D5AFE;
    transition: .5s;
    color: #fff;
}
end of label input
select input
.select-item {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.select-item p:first-child {
    color: #fff;
}
.select {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 46px;
    margin-top: 10px;
    width: 300px;
    padding: 12.5px 16px 12.5px 16px;
    background-color: #070B1A;
    border: 1px solid #1F2330;
    border-radius: 6px;
    color: #fff;
    transition: .5s;
    text-transform: capitalize;
}
.active-select {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.options {
    overflow: hidden;
    margin-top: 10px;
}
.alert {
    color: #EF5350;
    margin-top: 5px;
}
.info {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
} */

/* .stake-input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.stake-input-container input {
    width: 100%;
    padding: 11.5px 16px 11.5px 16px;
    background-color: #070B1A;
    border: 1px solid #1F2330;
    border-radius: 6px;
    color: #fff;
    text-transform: capitalize;   
}

.stake-input-container input:hover {
    border: 1px solid rgba(61, 90, 254, 0.6);
}
.stake-input-container input:focus {
    border: 1px solid #3D5AFE;
}

.stake-input-icon {
    position: absolute;
    top: 32px;
    right: 11.5px;
    width: 24px;
    height: 24px;
    text-decoration: underline;
} */