.api-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.api-items:after {
    position: absolute;
    content: '';
    width: calc(100% + 40px);
    height: 100%;
    left: -20px;
    top: 0px;
    z-index: 10;
    background: rgba(13,17,33,0.8);
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
}
.api-items.showGrad:after {
    opacity: 1;
    pointer-events: all;
}
.api-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,.05);
}
.api-item-top {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 0px;
    cursor: pointer;
    position: relative;
}
.api-item-top p {
    color: #3D5AFE;
    margin-top: 15px;
}
.api-item-type {
    display: flex;
    margin-top: 30px;
}
.disable.get-btn {
    display: none;
}
.get-btn {
    position: absolute;
    right: 0px;
    top: 28px;
}
.api-item-type-name {
    border-radius: 10px;
    padding: 5px;
}
.api-get {
    border: 1px solid #00C27C;
    color: #00C27C;
}
.api-post {
    border: 1px solid #969BA6;
    color: #969BA6;
}
.api-item-params-main {
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 0px;
    overflow: hidden;
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.api-item-params-main.active {
    max-height: 1500px;
}
.api-item-params-main:after {
    content: '';
    top: 0px;
    left: 0px;
    background: #3D5AFE;
    height: 1px;
    width: 100%;
    position: absolute;
}
.api-item-params-ttl {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.api-item-params-ttl div {
    font-size: 16px;
}
.api-item-params-subTtls {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}
.api-item-params-subTtls.double div:nth-child(1) {
    width: 330px;
}
.api-item-params {
    display: flex;
    margin-bottom: 30px;
}
.api-params {
    width: 300px;
}
.api-details {
    width: calc(100% - 300px);
    padding-left: 30px;
    padding-top: 24px;
    color: #B2B4B7;
}
.api-item-res-container {
    max-height: 0px;
    overflow: hidden;
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.api-item-res-container.active {
    max-height: 1000px;
}
.api-item-res {
    white-space: pre-wrap;
        align-items: center;
    background: #0C1121;
    padding: 0 10px;
    border-radius: 10px;
    display: flex;
    border: 1px solid #1f2330;
    height: fit-content;
    margin-bottom: 30px;
    overflow-y: auto;
}

.api-item-params-status {
    margin-bottom: 15px;
}
.api-item-params-status.red {
    color: #E94A4A;
}
.api-item-params-status.green {
    color: #00C27C;
}

.json-result {
    width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 12px;
    line-height: 24px;
    color: #b2b4b7;
    height: fit-content;
    box-sizing: border-box;
}
