.pagination-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination-inner div {
  color: #9c9da3;
  cursor: pointer;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.pagination-inner div:hover {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 32px;
  color: #fff;
}
svg path {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.prev:hover svg path {
  stroke: #fff;
} 

.next:hover svg path {
  stroke: #fff;
}
.active-element {
  /* background-color: #0500ff !important; */
  color: #fff !important;
  border-radius: 32px;
}

@media (max-width: 767px) {
  .pagination-inner div {
    color: #9c9da3;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
  .active-element {
    border-radius: 50%;
  }
}
