.btn {
  display: flex;
  align-items: center;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  cursor: pointer;
  width: fit-content;
  border-radius: 32px;
}
.btn-primary {
  background: #3d5afe;
}
.btn-primary:hover {
  opacity: 0.7;
}
.btn-primary span {
  color: #fff;
}
.btn-lg {
  height: 52px;
  padding: 0px 25px;
}
.btn-sm {
  height: 44px;
  padding: 0px 30px;
}

/* <div
                className={`${"tab"}
            ${toggle === true ? "tab-primary" : ""}`}
              >
                Buy
              </div>
              <div className="tab">Sell</div> */
