.meditation-item h3 {
  font-size: 13px;
  line-height: 130%;
  color: #45f4ea;
  text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
}

.meditation-item p {
  font-size: 70px;
  line-height: 130%;
  margin-bottom: 10px;
}

.meditation-item a {
  font-size: 13px;
  line-height: 130%;
  text-decoration-line: underline;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

.meditation-item a:hover {
  color: #ef5350;
}

.meditation-bg {
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  top: 50%;
  z-index: -1;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2f3674;
}

.center-box {
  position: absolute;
  left: 50%;
  translate: -50%;
  width: 500px;
  height: 500px;
  background-color: #ccc;
}

.corner-box {
  position: absolute;
}

.top-left {
  top: 20px;
  left: 20px;
}

.top-right {
  top: 20px;
  right: 20px;
}

.bottom-left {
  bottom: 20px;
  left: 20px;
}

.bottom-right {
  bottom: 20px;
  right: 20px;
}

@media only screen and (max-width: 767px) {
  .center-box {
    width: 80%;
    height: 80%;
  }

  .corner-box {
    width: 30px;
    height: 30px;
  }

  .top-left {
    top: 10px;
    left: 10px;
  }

  .top-right {
    top: 10px;
    right: 10px;
  }

  .bottom-left {
    bottom: 10px;
    left: 10px;
  }

  .bottom-right {
    bottom: 10px;
    right: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    justify-content: space-between;
    padding: 20px;
  }

  .center-box {
    width: 500px;
    height: 500px;
  }

  .top-left {
    top: 215px;
    left: 205px;
  }

  .top-right {
    top: 215px;
    right: 205px;
  }

  .bottom-left {
    bottom: 215px;
    left: 205px;
  }

  .bottom-right {
    bottom: 215px;
    right: 205px;
  }
}
