.meditation-item h3 {
  font-size: 13px;
  line-height: 130%;
  color: #45f4ea;
  text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
}

.meditation-item p {
  font-size: 70px;
  line-height: 130%;
  margin-bottom: 10px;
}

.meditation-item a {
  font-size: 13px;
  line-height: 130%;
  text-decoration-line: underline;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

.meditation-item a:hover {
  color: #ef5350;
}

.meditation-bg {
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  top: 50%;
  z-index: 1;
  opacity: 0.25;
}

.meditation-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #2f3674;
}

.meditation-person {
  animation: float 3s ease-in-out infinite 0.5s;
  z-index: 10;
}

.person-wrapper {
  position: absolute;
  width: fit-content;
  height: fit-content;
}

.center-box {
  z-index: 10;
  position: relative;
  left: 50%;
  translate: -50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.corner-box {
  position: absolute;
}

.top-left {
  top: 20px;
  left: 20px;
}

.top-right {
  top: 20px;
  right: 20px;
}

.bottom-left {
  bottom: 20px;
  left: 20px;
}

.bottom-right {
  bottom: 20px;
  right: 20px;
}

.person-background {
  min-width: calc(100% + 350px);
}

@media only screen and (max-width: 767px) {
  .center-box {
    width: 100%;
    height: 100%;
  }

  .meditation-person {
    max-width: 387px;
    width: 100%;
  }

  .top-left {
    top: 150px;
    left: 100px;
  }

  .top-right {
    top: 150px;
    right: 100px;
  }

  .bottom-left {
    bottom: 150px;
    left: 100px;
  }

  .bottom-right {
    bottom: 150px;
    right: 100px;
  }
}

@media only screen and (min-width: 768px) {
  .meditation-container {
    justify-content: space-between;
    padding: 20px;
  }

  .center-box {
  }

  .top-left {
    top: 215px;
    left: 205px;
  }

  .top-right {
    top: 215px;
    right: 205px;
  }

  .bottom-left {
    bottom: 215px;
    left: 205px;
  }

  .bottom-right {
    bottom: 215px;
    right: 205px;
  }
}

@media only screen and (max-width: 567px) {
  .meditation-item {
    text-align: center;
  }

  .top-left {
    top: 20px;
    left: 50%;
    translate: -50%;
  }

  .top-right {
    top: 180px;
    right: 50%;
    translate: 50%;
  }

  .bottom-left {
    bottom: 180px;
    left: 50%;
    translate: -50%;
  }

  .bottom-right {
    bottom: 20px;
    right: 50%;
    translate: 50%;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
