.start-section {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}
.corners-bg {
  position: absolute;
  z-index: -3;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: #2f3674;
}

.start-blocks-1 {
  animation: float 5s ease-in-out infinite;
}

.start-blocks-1-wrap {
  position: absolute;
  left: 168px;
  top: 120px;
  width: fit-content;
  height: fit-content;
}

.start-blocks-2 {
  animation: float 5s ease-in-out infinite;
}

.start-blocks-2-wrap {
  position: absolute;
  right: 115px;
  bottom: 10px;
  width: fit-content;
  height: fit-content;
}

.relative-test {
  position: relative;
}

.startNowBG {
  position: absolute;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  left: -1px;
  z-index: -2;
  top: -1px;
}

.start-title {
  font-size: 80px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.start-title-sm {
  width: 440px;
  height: 42px;
  font-family: "Uber Move";
  font-size: 16px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
}

.start-titles-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-bottom: 30px;
}

@media (max-width: 1500px) {
  .start-blocks-1-wrap {
    left: 168px;
    top: 120px;
  }

  .start-blocks-2-wrap {
    right: 115px;
    bottom: 10px;
  }
}

@media (max-width: 767px) {
  .start-section {
    padding: 0 20px;
  }
  .startNowBG {
    position: absolute;
    z-index: -1;
    width: 767px;
    height: 100%;
    left: 50%;
    translate: -50%;
  }
  .start-title {
    font-size: 64px;
  }
  .start-title-sm {
    width: 100%;
    max-width: 440px;
    height: 42px;
    font-size: 14px;
    word-wrap: break-word;
  }
  .start-blocks-1 {
    width: 250px;
  }
  .start-blocks-2 {
    width: 250px;
  }

  .start-blocks-1-wrap {
    left: 0;
    top: 70px;
  }

  .start-blocks-2-wrap {
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 470px) {
  .start-blocks-1 {
    width: 230px;
    height: 210px;
  }
  .start-blocks-1-wrap {
    left: 50%;
    translate: -50%;
    top: 70px;
  }
  .start-blocks-2 {
    width: 230px;
    height: 210px;
  }
  .start-blocks-2-wrap {
    left: 50%;
    translate: -50%;
    bottom: 0;
  }
}

@keyframes float1 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-5px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-5px);
  }
  100% {
    transform: translatey(0px);
  }
}
