/* two component tabs */
.two-component-tabs {
  background: #070b1a;
  border-radius: 32px;
  width: fit-content;
  height: 42px;
  display: flex;
  align-items: center;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.two-component-tab {
  width: 161px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  cursor: pointer;
  border-radius: 32px;
  color: #9c9da3;
}
.two-component-tab:hover {
  opacity: 0.7;
}
.active-two-component-tab {
  background-color: #ef5350;
  color: #fff;
}
.bg-color {
  background-color: #9ccc65;
}

/* white space between components */

.space-between-components {
  margin: 20px 0;
}

/* tabs */

.tabs {
  width: fit-content;
  background: #070b1a;
  border-radius: 8px;
  height: 44px;
  display: flex;
  gap: 6px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 6px;
}
.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  padding: 6px 30px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  cursor: pointer;
  width: 100%;
  color: #9c9da3;
}
.tab:hover {
  opacity: 0.7;
}
.active-tab {
  color: #3d5afe;
}
.tab span {
  background: rgba(255, 255, 255, 0.1);
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

/* Text tabs */

.text-tabs {
  width: fit-content;
  background: #070b1a;
  height: 44px;
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.text-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 30px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  cursor: pointer;
  width: 100%;
  color: #9c9da3;
  border-bottom: 1px solid #3d5afe00;
  height: inherit;
}
.active-text-tab {
  color: #3d5afe;
  border-bottom: 1px solid #3d5afe;
}
.text-tab:hover {
  opacity: 0.7;
}
.expend-i path {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.expend path {
  stroke: #3d5afe;
}
.expend-i {
  margin-left: 10px;
}

/* Button Variant */

.button-variant {
  background-color: #3d5afe;
  display: flex;
  height: 60px;
  width: 324px;
  border-radius: 18px;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
  padding: 0 15px;
}
.variants-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 32px;
  color: #fff;
}
.variants-btn:hover {
  background-color: #fff;
  color: #3d5afe;
}
.variant-title {
  margin-right: auto;
}
.active-variant-btn {
  background-color: #fff;
  color: #3d5afe;
}
