.two-factor-container {
    position: absolute;
    width: 596px;
    background: #141726;
    border: 1px solid #202431;
    border-radius: 8px;
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.two-factor-container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px;
}
.two-factor-container .header svg path{
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.two-factor-container .header svg {
    cursor: pointer;
}
.two-factor-container .header svg:hover path   {
    stroke: #3D5AFE;
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

.two-factor-container h1 {
    font-size: 16px;
    text-transform: capitalize;
}
.two-factor-container .line{
    background-color: rgba(255, 255, 255, 0.05);
    height: 1px;
    margin: 0 8px;
}
.two-factor-container .two-factor-steps {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.two-factor-container .steps {
    font-size: 14px;
    line-height: 19px;
    color: #CDCED1;
}
.two-factor-container .steps span{
    font-size: 14px;
    line-height: 19px;
    margin-right: 4px;
    color: rgb(255, 255, 255);
}
.two-factor-container .links {
    display: flex;
    gap: 20px;
    margin: 10px 0 40px 0;
}
.two-factor-container .acount-info {
    margin: 20px 0;
    display: flex;
    gap: 72px;
}
.two-factor-container .acount-info p {
    font-size: 14px;
}
.two-factor-container .acount-info span {
    color: #3D5AFE;
    font-size: 14px;
    text-transform: uppercase;
}
.two-factor-container .qrcode {
    display: inline-flex;
    padding: 17px;
    border-radius: 8px;
    border: 1px solid #202431;
    /* width: 129px;
    overflow: hidden;
    height: 129px; */
}
.two-factor-container .verification {
    display: flex;
    gap: 20px;
}
.two-factor-container .verification>:nth-child(2) {
    width: 100%;
}
.close {
    display: none;
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.two-factor-container .header svg path{
    cursor: pointer;
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.two-factor-container .header svg:hover path   {
    cursor: pointer;
    stroke: #3D5AFE;
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.two-factor-container .butons:nth-of-type(1) {
    margin-bottom: 10px;
}
.btn-lg {
    margin:10px;
}
