.text-gray1 {
  color: #cdced1;
  margin-top: 10px;
}

input[type="radio"] {
  display: none;
}

.radio-button {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #202431;
  border-radius: 20px;
  margin-right: 10px;
  position: relative;
  top: 5px;
}

.inner-radio-button {
  width: 12px;
  height: 12px;
  position: absolute;
  left: calc(50% - 6px);
  top: calc(50% - 6px);
  border-radius: 50%;
}

input[type="radio"]:checked + .radio-button {
  border: 1px solid #3d5afe;
}

input[type="radio"]:checked + .radio-button .inner-radio-button {
  background-color: #3d5afe;
}

.reset-options {
  display: flex;
}

.opt-name {
  font-size: 12px;
  line-height: 140%;
}

.opt-email {
  font-size: 12px;
  line-height: 140%;
  color: #9c9da3;
}
