.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border-bottom: 1px solid #32375f;
  border-right: 1px solid #32375f;
  border-left: 1px solid #32375f;
  background-color: #10282b;
  border-radius: 0px 0px 16px 16px;
  gap: 10px;
  width: 100%;
}

.calculator__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 7px;
  width: 100%;
}

.calculator-input {
  position: relative;
  width: 100%;
}

.calculator-input span {
  position: absolute;
  top: 36px;
  right: 15px;
  cursor: pointer;
}

.approveSuccess {
  color: #00ff00;
}

.calculator-type-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
