.toast {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  width: 320px;
  height: fit-content;
  border: 2px solid rgba(69, 244, 234, 0.1);
  background: rgba(69, 244, 234, 0.1);
  border-radius: 8px;
  opacity: 0;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  pointer-events: none;
  transition-delay: 0.3s;
}
.toast.animate {
  opacity: 1;
  pointer-events: all;
  transition-delay: 0s;
}
.toast-sml {
  width: 190px;
  height: 60px;
  padding: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toast-sml .toast-header .toast-title {
  padding: 0px;
}
.toast-header {
  display: flex;
  width: 100%;
}
.toast-title {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  padding: 13px 0px 0px 3px;
}
.toast-title svg {
  width: 24px;
  height: 24px;
}
.close-btn {
  width: 20px;
  height: 20px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  cursor: pointer;
}
.close-btn svg path {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.close-btn:hover svg path {
  stroke: #3d5afe;
}
.toast-body {
  padding: 0px 3px 8px 3px;
}
.close {
  display: none;
}
.toast-text {
  color: #6a6d76;
  margin-top: 6px;
}
.toast-btn {
  display: flex;
  align-items: center;
  gap: 7px;
  color: #3d5afe;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  cursor: pointer;
  width: fit-content;
}
.toast-btn svg {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.toast-btn svg path {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.toast-btn:hover {
  color: #ef5350;
}
.toast-btn:hover svg path {
  fill: #ef5350;
}
.toast-btn:hover svg {
  transform: translateX(5px);
}
.submit-notification-container {
  border-radius: 20px;
  background-color: #10282b;
  border: 1px solid rgba(22, 32, 41, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 25px 40px;
  text-align: center;
  opacity: 0;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  pointer-events: none;
  transition-delay: 0.3s;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.submit-notification-container.animate {
  opacity: 1;
  pointer-events: all;
  transition-delay: 0s;
  z-index: 10;
}

.submit-notification-container p {
  font-size: 20px;
  color: #fff;
}

@media (max-width: 1024px) {
  .submit-notification-container {
    /* width: 550px; */
  }  
}

@media (max-width: 768px) {
  .submit-notification-container {
    width: 350px;
  }
}
