.pop-body {
    display: flex;
    flex-direction: column;
    padding: 23px 20px 20px 20px;
    border-top: 2px solid rgb(32, 36, 49);
    border-right: 2px solid rgb(32, 36, 49);
    border-bottom: none;
    border-left: 2px solid rgb(32, 36, 49);
    border-image: initial;
    background: rgb(20, 23, 38);
    border-radius: 0px 0px 8px 8px;
}
.body-row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 22px;
}
.body-row:last-child, .body-row:first-child  {
    margin-top: 0px;
}

.sc {
    gap: 20px;
}