@font-face {
  font-family: "UberMove-Medium";
  src: url("../fonts/UberMove/UberMove-Medium.eot");
  src: url("../fonts/UberMove/UberMove-Medium.eot?#iefix") format("embedded-opentype"),
  url("../fonts/UberMove/UberMove-Medium.svg#Lack-Regular") format("svg"),
  url("../fonts/UberMove/UberMove-Medium.ttf") format("truetype"),
  url("../fonts/UberMove/UberMove-Medium.woff") format("woff"),
  url("../fonts/UberMove/UberMove-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "UberMove-Regular";
  src: url("../fonts/UberMove/UberMove-Regular.eot");
  src: url("../fonts/UberMove/UberMove-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/UberMove/UberMove-Regular.svg#Lack-Regular") format("svg"),
  url("../fonts/UberMove/UberMove-Regular.ttf") format("truetype"),
  url("../fonts/UberMove/UberMove-Regular.woff") format("woff"),
  url("../fonts/UberMove/UberMove-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "UberMove-Medium";
  font-size: 14px;
  /*line-height: 24px;*/
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  outline-color: none;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background: #070b1a;
  padding: 0 !important;
  /*padding-bottom: 200vh;*/
  /*dont use overflow hidden to body*/
}

ul,
li,
p,
img,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
nav {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: normal;
}
input,
textarea {
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}
.container {
  width: 100%;
  max-width: 1920px;
  padding: 0px 80px;
  margin: 0px auto;
  display: flex;
  position: relative;
  z-index: 5;
}
.font-10 {
  font-size: 10px;
  line-height: 150%;
}
.font-12 {
  font-size: 12px;
  line-height: 150%;
}
.font-14 {
  font-size: 14px;
  line-height: 150%;
}
.font-16 {
  font-size: 16px;
  line-height: 150%;
}
.font-20 {
  font-size: 20px;
  line-height: 130%;
}
.font-regular {
  font-family: "UberMove-Regular";
}
.font-medium {
  font-family: "UberMove-Medium";
}
.plus-market {
  color: #9ccc65;
}
.plus-market path {
  fill: #9ccc65;
}
.minus-market {
  color: #ef5350;
}
.minus-market path {
  fill: #ef5350;
}
.minus-market svg {
  transform: rotate(180deg);
}
.test {
  display: flex;
  height: 1000px;
  width: 100px;
  background: red;
}
.main {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background: #2f3674;
}
.main-sidebar {
  width: 365px;
  background: #2d3364;
  display: flex;
  overflow-y: auto;
  max-height: 100%;
}
.main-sidebar-content {
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  background: #2d3364;
  overflow-y: scroll;
  width: 365px;
  padding: 70px 20px 0 20px;
}

.main-content {
  width: calc(100% - 365px);
  display: flex;
  flex-direction: column;
  padding: 110px 0 0 0;
  height: 100%;
}

.main-content-wrapper {
  padding: 0 20px;
}

/*Animations Start*/
.animate-scale {
  transform: scale(0.9);
  opacity: 0;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.animate-scale.animate {
  transform: scale(1);
  opacity: 1;
}
.animate-translateX {
  transform: translateY(5px);
  opacity: 0;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.animate-translateX.animate {
  transform: translateY(0px);
  opacity: 1;
}
/*Animations End*/

@media only screen and (max-width: 1025px) {
  .main-content {
    width: 100%;
    padding-top: 90px;
  }
}
