.total-summary-info {
  width: 100%;
  /* background: #ffaa00; */
  gap: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  line-height: 140%;
  color: #272c57;
  padding: 40px 20px;
  position: relative;
  z-index: 2;
}

.total-summary-info > h2,
.total-account-info > p,
.total-account-info span {
  color: #272c57;
}

.account-summary-data {
  background: #10282b;
  border-radius: 16px;
  padding: 45px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  bottom: 15px;
  margin-top: 90px;
}

.total-account-info {
  display: flex;
  gap: 132px;
  align-items: center;
}

.total-account-info > p {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-weight: 400;
}

.total-account-info span {
  font-weight: 500;
  font-size: 34px;
  line-height: 41px;
}

.account-summary-data-item {
  background: rgba(255, 255, 255, 0.02);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  border: 1px solid rgb(0, 255, 208, 0.2);
}

.account-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.account-summary > p:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media only screen and (max-width: 667px) {
  .total-account-info {
    gap: 60px;
  }
}
