.referral-main {
  padding: 70px 0 0 0;
  /* height: 100vh; */
  background: #272c57;
}

.referral-tables-container {
  background: #2d3364;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;

  /* height: 100%; */
  padding: 60px 100px;
}
.referral-cards-container {
  display: flex;
  gap: 20px;
}

.referral-header {
  display: none;
}

.referral-content {
  background-color: #2f3674;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* align-items: center; */
  gap: 125px;
  padding: 60px 100px;
}

.referral-content-main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.referral-content-main > h2 {
  font-weight: 700;
  font-size: 60px;
  line-height: 130%;
}

.referral-content-info {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.referral-content-info_buttons {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-top: 30px;
}

.referral-content-info p {
  color: rgb(255, 255, 255, .6);
}
@media only screen and (max-width: 1025px) {
  .referral-cards-container {
    flex-direction: column;
  }
  .referral-header {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}
