.referral-main {
  padding: 70px 0 0 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: #10282b;
}

.referral-tables-container {
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  background: #0e2225;
}

.referral-cards-container {
  display: flex;
  gap: 20px;
}

.referral-header {
  display: none;
}

.referral-content {
  background: #0e2225;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 125px;
  padding: 60px 100px;
}

.referral-content-main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.referral-content-main > h2 {
  font-weight: 700;
  font-size: 60px;
  line-height: 130%;
  color: #c38c5c;
}

.referral-content-info {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.referral-content-info_buttons {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-top: 30px;
}

.referral-button-icon > path {
  stroke: #fff;
}

@media only screen and (max-width: 1025px) {
  .referral-cards-container {
    flex-direction: column;
  }
  .referral-header {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .referral-content {
    display: flex;
    flex-direction: column;
    padding: 60px 20px;
  }
  .referral-tables-container {
    padding: 70px 20px;
  }
}
