.top-coins-buttons {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 19px;
  width: 83px;
  height: 36px;
}

.coins-prev-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  border-radius: 16px 0 0 16px;
  cursor: pointer;
}

.coins-next-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  border-radius: 0 16px 16px 0;
  cursor: pointer;
}
