.coins-table-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.coins-table-more-btn {
  border-radius: 24px;
  border: 1px solid rgb(255, 255, 255, 0.2);
  height: 44.54px;
  width: 124px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

.coins-table-more-btn:hover {
  opacity: 0.7;
}

.coins-table-bg {
  height: 240px;
  width: 100%;
  position: absolute;
  background: linear-gradient(180deg, rgba(47, 54, 116, 0) 0%, #2f3674 100%);
  border-radius: 0px 0px 8px 8px;
  bottom: 54px;
}

.coins-table-header {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 14px;
}

.coins-table-header h2 {
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
}

.coins-market-card {
  background: rgb(39, 44, 87, 0.8);
  border-radius: 16px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.coins-market-card p:first-child {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.coins-market-card p:last-child {
  color: rgb(255, 255, 255, 0.6);
}

.coins-table-cards {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

@media only screen and (max-width: 1025px) {
  .coins-table-cards {
    flex-wrap: wrap;
  }
  .coins-market-card p:first-child,
  .coins-market-card p:last-child {
    text-align: center;
  }
}
