.biggest-test-ever {
  background: #272c57;
  border-radius: 10px;
  padding: 4px 12px;
}

.selected-coin-chart {
  position: relative;
  width: 100%;
  height: 100%;
}

.chart-option {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 6px;
  height: 26px;
  background: rgba(39, 44, 87, 0.05);
  border-radius: 29px;
  font-size: 12px;
  line-height: 150%;
  color: #272c57;
  opacity: 0.6;
  cursor: pointer;
}

.chart-options-wrapper {
  position: absolute;
  z-index: 20;
  right: 16px;
  top: 16px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.selected-chart-type {
  background: rgba(39, 44, 87, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 29px;
  font-size: 12px;
  line-height: 150%;
  color: #272c57;
  opacity: 1;
}
