.withdrawal-container {
  background: #141726;
  border: 2px solid #202431;
  border-radius: 8px;
  padding: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 500px;
  overflow-y: scroll;
  width: 596px;
}
.mt-22 {
  margin-top: 22px;
}
.flex {
  display: flex;
  align-items: center;
}
.jc-sb {
  justify-content: space-between;
}
.withdrawal-details {
  background: #0e1221;
  border-radius: 18px;
  margin-top: 40px;
}
.popup-item {
  padding: 0 20px;
  height: 88px;
}
.mt-8 {
  margin-top: 8px;
}
.align-right {
  text-align: right;
}
.withdraw-title {
  padding: 20px;
}
.withdrawal-wraper > div:nth-child(odd) {
  background-color: #070b1a !important;
}
