.dashboard-balance .dashboard-balance-border {
    margin-left: 9%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 3px solid #3D5AFE;
    border-radius: 50%;
}
.dashboard-balance .dashboard-balance-border p:nth-child(1) {
    color: #3D5AFE;
    font-size: 14px;
}
.dashboard-balance .dashboard-balance-border p:nth-child(2) {
    margin: 6px 0 2px 0;
    font-size: 24px;
}
.dashboard-balance .dashboard-balance-border p:nth-child(3) {
    color: #9C9DA3;
    font-size: 12px;
}
.dashboard-balance .dashboard-balance-border .svg-image {
    position: absolute;
    top: -138px;
    left: -171px;
    z-index: -1;
}
.dashboard-balance .balance {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.dashboard-balance .balance div {
    text-align: center;
    background: rgba(255, 255, 255, 5%);
    padding: 9px 31px;
    border-radius: 8px;
}
.dashboard-balance .supply p {
    color:#57D29E;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 14px;
    line-height: 19.6px;
}
.dashboard-balance .borrow p {
    margin-bottom: 2px;
    color:#6E62FC;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 14px;
    line-height: 19.6px;    
}
.dashboard-balance .balance span {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
}