/* LandingSteps.css */

.LandingSteps__container {
  padding-top: 70px;
  height: 100vh;
  width: 100%;
  background-color: #2f3674;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LandingSteps__progress-bar {
  width: 820px;
  max-width: 100%;
  height: 8px;
  background-color: rgba(69, 244, 234, 0.1);
  /* background-color: rgba(69, 244, 234, 0.1); */
  border-radius: 8px;
  margin-top: 59px;
}

.LandingSteps__progress-bar__fill {
  height: 0px;
  border: 4px solid #45f4ea;
  border-radius: 8px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

.LandingSteps__step {
  margin-top: 90px;
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 34px;
}

.LandingSteps__buttonsWrap {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.LandingSteps__step__title {
  font-size: 24px;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
}

.LandingSteps__step__content {
  display: flex;
  justify-content: center;
}

.LandingSteps__step__content--wallet {
  gap: 20px;
}

.LandingSteps__step__content--register {
  flex-direction: column;
  /* gap: 20px; */
  width: 440px;
  height: 299px;
  background: rgba(69, 244, 234, 0.05);
  border-radius: 20px;
  border: 1px solid rgba(69, 244, 234, 0.05);
  padding: 20px;
}

.LandingSteps__wallet-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 295px;
  height: 295px;
  border: 2px solid rgba(69, 244, 234, 0.05);
  background: rgba(69, 244, 234, 0.05);
  border-radius: 32px;
  gap: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

.LandingSteps__wallet-option:hover {
  cursor: pointer;
  border: 2px solid rgba(69, 244, 234, 0.1);
  background: rgba(69, 244, 234, 0.1);
}

.LandingSteps__walletmetamaskIcon {
  width: 72px;
  height: 72px;
}

.LandingSteps__topUp-box {
  max-width: 610px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.LandingSteps__topUpOptions {
  display: flex;
  gap: 20px;
}
