.treade-extension-main-wrapper {
  /* position: relative; */
  overflow: hidden;
  border: 1px solid red;
  height: 80px;
  max-width: 300px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  transition: 0.3s;
}

.arrowSvgWrapper {
  height: 100%;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}
.trade-header-extension {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  left: 30px;
  width: fit-content;
  border: 1px solid green;
}

.trade-header-extension__item {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trade-header-extension__item-name {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
}
