/* DEFAULT STYLES */
.input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: auto;
}
.mb-3 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.input-group-text-outer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.input-group-labels {
    display: flex;
    align-items: center;
    gap: 6px;
}
.bordered {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 1px 6px;
    height: 17px;
    width: auto;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.frame-label {
    font-size: 10px;
}
.form-control-outer {
    position: relative;
}
.password-icon {
    position: absolute;
    top: 13px;
    right: 13px;
    width: 24px;
    height: 20px;
    cursor: pointer;
}
.pass-icon, .pass-icon-f {
    width: 100%;
    height: 100%;
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.password-icon svg path {
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.password-icon:hover .pass-icon-f path {
    fill: #3d5afe;
}
.password-icon:hover .pass-icon path {
    stroke: #3d5afe;
}
.form-control {
    width: 100%;
    padding: 11.5px 16px 11.5px 16px;
    background-color: transparent;
    border: 1px solid #1f2330;
    border-radius: 6px;
    color: #fff;
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    height: 44px;
}
.form-control:hover {
    border: 1px solid rgba(61, 90, 254, 0.6);
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.form-control:focus {
    border: 1px solid #3d5afe;
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.error-border {
    border: 1px solid rgb(239, 83, 80)!important;
}

/* SELECT STYLES */
.select-panel {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.visible {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: fit-content;
}
.hidden {
    display: none;
}
.arrow {
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.rotate {
    transform: rotate(-180deg);
}
.form-control-inner {
    display: flex;
    align-items: center;
    width: 33%;
    gap: 6px;
}
.form-control-inner div {
    margin-left: 6px;
}
.number-control {
  background-color: transparent;
  border: none;
  width: 100%;
  margin-left: 6px;
}
.number-control[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* UPLOAD STYLES */

.upload-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
.upload-group-title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.upload-group-title p:last-child {
    color: #ef5350;
}
.upload-group-inner {
    display: flex;
    align-items: center;
    gap: 55px;
    width: 100%;
    border: 1px dashed rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 10px;
}
.upload-group-placeholder {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.upload-group-text {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 5px;
}
.upload-group-text p:first-child {
    color: #9c9da3;
}
.upload-btn {
    color: #3d5afe;
    cursor: pointer;
}
.upload-control {
    position: absolute;
    top: 23px;
    left: 49px;
    width: 50px;
    height: 16px;
    opacity: 0;
}
.avatar-sm {
    position: absolute;
    top: 0;
    left: 0;
    width: 58px;
    height: 58px;
    border-radius: 40px;
    object-fit: cover;
}
.delete-btn {
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    cursor: pointer;
    color: #ef5350;
}
.delete-btn:hover {
    color: #3d5afe !important;
}