.sideOpen .header {
  border-right: 2px solid rgba(255, 255, 255, 0.05);
}

.header {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background: #2f3674;
  position: fixed;
  z-index: 100;
  /* border-bottom: 2px solid rgba(255, 255, 255, 0.05); */
  padding: 0;
}

.modulesWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
  width: 100%;
  padding: 0 20px;
}
.right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding-right: 20px;
  gap: 30px;
}
.right p {
  margin: 0 10px;
}
.link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-decoration: none;
  height: 100%;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  color: rgba(255, 255, 255, 0.4);
  transform: translateY(120%);
  opacity: 0;
}

.animate .link {
  transform: translateY(0%);
  opacity: 1;
}

.animate .link:nth-child(1) {
  transition-delay: 0.3s;
}

.animate .link:nth-child(2) {
  transition-delay: 0.4s;
}

.animate .link:nth-child(3) {
  transition-delay: 0.5s;
}

.animate .link:nth-child(4) {
  transition-delay: 0.6s;
}

.animate .link:nth-child(5) {
  transition-delay: 0.7s;
}

.animate .link:nth-child(6) {
  transition-delay: 0.8s;
}

.animate .link:nth-child(7) {
  transition-delay: 0.9s;
}

.link:hover {
  opacity: 0.7;
}

.active {
  color: #ffffff;
}

.link::before {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  width: 100%;
  height: 2px;
  content: '';
  color: #ffffff;
  background-color: #ffffff;
  border-radius: 2px;
  position: absolute;
  transform: scaleY(0.2);
  opacity: 0;
  bottom: 0;
}

.active::before {
  transform: scaleY(1);
  opacity: 1;
}
.svg {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

.active .svg {
  fill: #3d5afe;
}

.addressWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.addressWrapper:hover {
  margin: none !important;
}

.address {
  white-space: no-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 130px;
}

.Warning {
  display: flex !important;
  transition: none;
  margin: 0px !important;
  transform: none !important;
}

.MetaMask {
  display: flex !important;
  transition: none;
  margin: 0px !important;
  transform: none !important;
}

.connect {
  margin-right: 10px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  overflow: hidden;
  transform: scale(0.9);
  opacity: 0;
  overflow: hidden;
}

.animate .connect {
  transform: scale(1);
  transition-delay: 1s;
  opacity: 1;
}

.notify {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  cursor: pointer;
  transform: scale(0.9);
  opacity: 0;
  overflow: hidden;
}

.animate .notify {
  transform: scale(1);
  transition-delay: 0.9s;
  opacity: 1;
}

.notify:hover {
  opacity: 0.7;
}

.activeNotify {
  background: rgba(255, 255, 255, 0.05);
}

.activeNotify .notificationSvg {
  stroke: #3d5afe;
}

.notificationSvg {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

.logo-logoWrapper {
  max-width: 344px;
  width: 100%;
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 100%;
  cursor: pointer;
  width: 100%;
}

.logoWrapper svg {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  transform: scale(0.9);
  opacity: 0;
}

.animate .logoWrapper svg {
  transform: scale(1);
  transition-delay: 0.2s;
  opacity: 1;
}

.logoWrapper > h3 {
  transition: 0.8s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  transform: translateY(240%);
  opacity: 0;
}

.animate .logoWrapper > h3 {
  transform: translateY(0%);
  transition-delay: 0.25s;
  opacity: 1;
}

.navbar-menu {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transform: scale(0.9);
  opacity: 0;
}

.animate .navbar-menu {
  transform: scale(1);
  transition-delay: 1s;
  opacity: 1;
}

.navbar-menu p {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  max-height: 0;
  opacity: 0;
}

.navbar-menu p.active {
  max-height: 100%;
  opacity: 1;
  color: #fff;
}

.navbar-menu:hover {
  opacity: 0.7;
}

.util-token-amount {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  transform: scale(0.9);
  opacity: 0;
}

.animate .util-token-amount {
  transform: scale(1);
  transition-delay: 0.9s;
  opacity: 1;
}

@media only screen and (max-width: 1100px) {
  .logoWrapper {
    width: 10%;
  }
  .logoWrapper h3 {
    display: none;
  }
}

@media only screen and (max-width: 970px) {
  .logoWrapper {
    border: none;
  }
  .modulesWrapper {
    justify-content: space-between;
    height: 70px;
    padding: 20px;
  }
  .header {
    flex-direction: column;
    height: 70px;
    align-items: center;
    background-color: unset;
    justify-content: flex-start;
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    gap: 30px;
    background: #2f3674;
  }

  .header.header-active {
    height: 100vh;
    padding: 5px 0;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999;
    width: 100vw;
  }
  .right {
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    max-height: 0px;
    transition-delay: 0.6s;
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    transform: translateY(5px);
    opacity: 0;
    width: 100%;
    padding: 0 20px;
  }
  .right.right-active {
    max-height: 100%;
    transform: translateY(0px);
    opacity: 1;
    transition-delay: 0.3s;
    z-index: 100;
    background: #2f3674;
  }

  .link {
    padding: 10px 0;
    height: unset;
    margin-right: auto;
  }
}

@media only screen and (max-width: 440px) {
  .connect {
    margin-right: auto;
  }
}
