.wrapper {
  position: fixed;
  height: 100vh;
  left: 100%;
  top: 0;
  width: 362px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  background: #10282b;
  transition: 0.5s;
  font-size: 12px;
  line-height: 140%;
  overflow-y: auto;
  padding-bottom: 20px;
}

.side-open {
  transform: translateX(-362px);
}
