.tab-table,
.tab-table-filled {
  padding: 10px 0;
  width: 745px;
}
.tab-table div {
  font-size: 12px;
  color: #cdced1;
}
.tab-table-filled div {
  font-size: 12px;
  color: #cdced1;
}
.table-col {
  padding-bottom: 40px;
  display: flex;
  width: 100%;
  gap: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.sub-table {
  background: #0c1121;
  border-radius: 8px;
  height: 60px;
  width: 356px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.table-manu {
  width: 356px;
}
.underline {
  color: #cdced1;
  display: flex;
  justify-content: space-between;
  padding: 15px 0 5px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.d-flex {
  display: flex;
  width: 100%;
}
.d-flex div:nth-child(1) {
  width: 50%;
}
.pad-t {
  padding-top: 0px;
}
.pad-b {
  padding-bottom: 20px;
}
.table-row {
  padding-top: 20px;
}
.filled {
  padding: 0 16px;
  justify-content: space-between !important;
}
.filled > div:nth-child(1) {
  color: #9ccc65;
}
.table-flex {
  display: flex;
}
.fs-16 {
  font-size: 16px !important;
}
.fs-14 {
  font-size: 14px !important;
}
.num {
  text-align: right;
  margin-top: 5px;
}
.mt-5 {
  margin-top: 5px;
}
