.dashboard-main {
  padding: 70px 0 0 0;
  background: #272c57;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 100px;
  background: #2f3674;
  overflow: hidden;
}

.dashboard-main-card {
  padding: 55px;
  max-width: 1240px;
  min-height: 329px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  background: #272c57;
  border-radius: 50px;
}

.dashboard-cards-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.dashboard-card-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-card-info h1 {
  display: flex;
  align-items: center;
  font-size: 60px;
  line-height: 130%;
  gap: 40px;
}

.dashboard-card-info h2 {
  display: flex;
  align-items: center;
  font-size: 60px;
  line-height: 130%;
  gap: 18px;
}

.dashboard-card-info p {
  font-size: 16px;
  line-height: 130%;
}

.dashboard-cards-svg {
  position: absolute;
  bottom: 0;
}

.top-coins {
  background: #2d3364;
  width: 100%;
  padding: 100px;
}

.top-coins-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.top-coins-header h3 {
  font-size: 21px;
  line-height: 130%;
}

.top-coins .swiper-slide {
  width: 295px !important;
}

.selected-coin-info {
  position: relative;
  display: flex;
  gap: 13px;
}

.select-coin-wrap {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  left: 60px;
  top: 45px;

  width: 322px;
  height: 376px;
  background: #22274d;
  border: 1px solid #202431;
  border-radius: 8px;
  overflow-y: auto;
  gap: 2px;
  padding: 6px;
  border-radius: 8px;
}

.select-coin-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px;
  min-height: 60px;
  border-radius: 8px;
  cursor: pointer;
}
.select-coin-option:hover {
  background: rgba(255, 255, 255, 0.05);
}

.select-coin-option-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  border-radius: 16px;
}

.select-coin-option-image {
  width: 24px;
  height: 24px;
}

.select-coin-option-left {
  display: flex;
  align-items: center;
  gap: 6px;
}

.select-coin-option-left-info {
  display: flex;
  flex-direction: column;
}

.select-coin-option-left-info h3 {
  font-size: 14px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.6);
}

.selected-coin-option .select-coin-option-left-info h3 {
  color: #00c6ff !important;
}

.select-coin-option-left-info p {
  font-size: 14px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.6);
}

.select-coin-option:hover .select-coin-option-left-info h3 {
  color: #fff;
}

.select-coin-option-right {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.select-coin-option-right h3 {
  font-size: 14px;
  line-height: 150%;
}
.select-coin-option-right-change {
  display: flex;
  align-items: center;
  gap: 4px;
}

.selected-coin-option::before {
  content: "";
  position: absolute;
  z-index: 10;
  width: 2px;
  height: 60px;
  left: 0;
  background-color: #00c6ff;
  border-radius: 0px 4px 4px 0px;
  z-index: -1;
}

.select-coin-header {
  padding-left: 10px;
  padding-bottom: 5px;
}

.select-coin-header h2 {
  font-size: 14px;
  line-height: 140%;
}

.selected-coin-stats {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-top: 15px;
}

.selected-coin-price-wrap {
  display: flex;
  align-items: center;
  gap: 13px;
}

.selected-coin-price-wrap h3 {
  font-size: 34px;
  line-height: 130%;
}

.selected-coin-price-wrap div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 0 10px;
  height: 29px;
  background: #00ffd0;
  border-radius: 10px;
  color: #272c57;
}

.selected-coin-price-wrap p {
  font-size: 14px;
  line-height: 150%;
  color: #272c57;
}

.selected-coin-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.selected-coin-title p {
  font-size: 21px;
  line-height: 130%;
}

.select-coin-button {
  display: flex;
  gap: 5px;
  font-size: 14px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.6);
}

.top-coin-image-lg {
  width: 50px;
  height: 50px;
}

.no-top-coins-slider {
  width: 295px;
  height: 132px;
  background: rgba(255, 255, 255, 0.03);
}

.top-coin-image-placeholder {
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 25px;
}

.top-coin-stats-placeholder {
  width: 200px;
  height: 100px;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 8px;
}

.selected-coin-chart-section {
  display: flex;
  flex-direction: column;
  padding-top: 55px;
  gap: 20px;
  padding-bottom: 72px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.coin-market-wrap-stats {
  display: flex;
  flex-direction: column;
}

.coin-market-cap-ttl {
  font-size: 14px;
  line-height: 140%;
}

.coin-market-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.coin-market-price h3 {
  font-size: 20px;
  line-height: 150%;
}

.coin-market-price span {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  line-height: 150%;
}

.coin-market-wrap-stats h4 {
  font-size: 14px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 10px;
}

.coin-market-24h-vol {
  font-size: 14px;
  line-height: 150%;
}

.coin-market-value-wrap {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.coin-market-value-title {
  display: flex;
  align-items: center;
  gap: 4px;
}
.coin-market-value-title h4 {
  font-size: 14px;
  line-height: 140%;
}

.coin-market-value-title span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 6px;
  gap: 10px;
  width: 43px;
  height: 26px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 29px;
}

.coin-market-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.coin-market-value p {
  font-size: 20px;
  line-height: 150%;
}

.coin-market-value span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
  line-height: 150%;
}

.selected-coin-circulating-wrap h3 {
  font-size: 14px;
  line-height: 140%;
}

.circulating-supply-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.circulating-supply-row h4 {
  font-size: 20px;
  line-height: 150%;
}

.circulating-supply-row p {
  font-size: 14px;
  line-height: 150%;
}

.circulating-supply-progressbar {
  display: flex;
  width: 100%;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.circulating-supply-progressbar span {
  transition: 0.5s;
  background-color: #00ffd0;
  border-radius: 4px;
}

.selected-token-market-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.selected-coin-main-info {
  display: flex;
  gap: 20px;
}

.selected-chart-wrapper {
  position: relative;
  width: calc(100% - 420px);
  min-height: 360px;
  height: 460px;
  background: #00ffd0;
  border-radius: 16px;
}

.selected-coin-market-wrap {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  min-height: 235px;
  background: #0080ff;
  border-radius: 16px;
  padding: 16px;
}

.selected-coin-circulating-wrap {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  min-height: 105px;
  background: #272c57;
  border-radius: 16px;
  padding: 16px;
}

.coins-table-section {
  padding: 70px 100px;
  background: #2f3674;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

/* .arrow-up { */
/* } */

.arrow-down {
  rotate: 180deg;
}

@media (max-width: 1328px) {
  .dashboard-main-card {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    padding: 20px 40px;
    max-height: 450px;
  }
  .dashboard-cards-wrapper {
    grid-row: 1;
    grid-column: 1;
    justify-items: center;
    align-items: flex-end;
    height: 200px;
  }
  .dashboard-cards-svg {
    width: 100%;
    min-height: 250px;
    min-width: 200px;
    bottom: -140px;
    height: 100%;
  }
  .dashboard-cards-wrapper {
    height: 0px;
  }
}

@media (max-width: 1300px) {
  .selected-chart-wrapper {
    width: 100%;
  }
  .selected-coin-main-info {
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .top-coins,
  .coins-table-section,
  .dashboard-header {
    padding: 100px 40px;
  }
  .dashboard-card-info h1,
  .dashboard-card-info h2 {
    font-size: 50px;
    text-align: center;
  }
  .dashboard-main-card {
    width: 100%;
    padding: 40px;
    justify-content: center;
    align-items: center;
  }
  .dashboard-cards-svg {
    bottom: -60px;
  }
}

@media (max-width: 750px) {
  .top-coins,
  .coins-table-section,
  .dashboard-header {
    padding: 100px 20px;
  }
  .dashboard-card-info h1,
  .dashboard-card-info h2 {
    font-size: 35px;
  }
}

@media (max-width: 600px) {
  .selected-coin-market-wrap {
    min-width: initial;
    min-height: initial;
    width: 100%;
  }

  .selected-coin-circulating-wrap {
    min-height: 105px;
    min-width: initial;
    width: 100%;
  }

  .dashboard-card-info h1,
  .dashboard-card-info h2 {
    font-size: 22px;
    justify-content: center;
    gap: 20px;
  }

  .dashboard-card-info p {
    font-size: 14px;
    text-align: center;
  }
}

@media (max-width: 390px) {
  .dashboard-card-info h2 {
    flex-direction: column;
  }
  .dashboard-cards-svg {
    bottom: -20px;
    min-height: 150px;
    min-width: 150px;
  }
}

@media (max-width: 330px) {
  .dashboard-card-info h1 {
    flex-direction: column;
  }
}
