.footer-container {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #272C57;
    padding: 12px 20px;
    margin-top: auto;
    z-index: 100;
    width: 100%;
}

.footer-help, .footer-copyright {
    display: flex;
    align-items: center;
    gap: 7px;
    color: #FFF;
}

.footer-help a {
    color: #FFF;
    text-decoration: none;
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    cursor: pointer;
}

.footer-help a:hover {
    opacity: .7;
}
