.footer-container {
  height: 60px;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #10282b;
  padding: 12px 20px;
  /* margin-top: 50px; */
  width: 100%;
}

.footer-help,
.footer-copyright {
  display: flex;
  align-items: center;
  gap: 7px;
  color: #fff;
}

.footer-help a {
  color: #fff;
  text-decoration: none;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  cursor: pointer;
}

.footer-help a:hover {
  opacity: 0.7;
}
