.status {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 2px 10px;
  border-radius: 8px;
}

.loan-active {
  border: 1px solid #27ae60;
  color: #2ecc71;
}

.loan-defaulted {
  border: 1px solid #e74c3c;
  color: #e74c3c;
}

.loan-offered {
  border: 1px solid #f1c40f;
  color: #f1c40f;
}
