.admin-header {
    background: #0C1121;
    display: flex;
    justify-content: space-between;
}

.admin-logo-container {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 20px;
    width: 240px;
    border-bottom: 2px solid #070b1a;;
    border-right: 2px solid #070b1a;;
}

.admin-logo-container h1 {
    padding-left: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
}

.user-input-container {
    padding: 9px 20px 9px 0;
}

.user-input {
    position: relative;
    padding: 8px 16px 8px 24px;
    gap: 6px;
    display: flex;
    align-items: center;
    border: 1px solid #3D5AFE;
    border-radius: 32px;
}

.user-input img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    object-fit: contain;
}

.admin-arrow {
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.admin-arrow-rotate {
    transform: rotate(-180deg);
}

.admin-hidden {
    display: none;
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

.admin-select {
    display: flex;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 1;
    width: 100%;
}