.filter-box-container {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.filter-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    border-radius: 8px; 
}

.show-filters {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    /* border-radius: 8px 8px 0 0; */
}

.filter-box-list {
    display: flex;
    justify-content: space-between;
}

.filter-box-list__item {
    padding: 6px 30px;
    color: #9C9DA3;
    cursor: pointer;
}

.list-item__active {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 6px;
    color: #3D5AFE;
}

.advanced-search-btn, .search-btn-active {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 6px 10px;
    color: #9C9DA3;
}

.search-btn-active {
    background: #3D5AFE;
    color: #FFFFFF;
}

.search-btn-active svg, .advanced-search-btn svg{
    margin-right: 6px;
}

.filter-box-search {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.filter-box-input {
    position: relative;
    padding-bottom: 20px;
}

.filter-box-input-btn {
    position: absolute;
    padding-left: 16px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    bottom: 36px;
    right: 56px;
    cursor: pointer;
}

.filter-box-selects {
    display: flex;
    width: 100%;
    padding-bottom: 10px;
}

.filter-box-buttons {
    display: flex;
}

.result-data-container {
    display: flex;
    align-items: center;
    padding: 20px 0 20px 20px;
    gap: 6px;
}

.result-data__header {
    color: #6A6D76;
}

.result-data {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 53px;
    padding: 6px 8px 6px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.result-data span:first-child {
    color: #9C9DA3;
    padding-right: 8px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.result-data svg {
    cursor: pointer;
}

.result-clear-all {
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

.result-clear-all span {
    color: #EF5350;
}