.card {
    height: auto;
    width: 325px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    position: relative;
    opacity: 0;
    transform: translateY(20px);
    transition: .6s;
    background-color: #070B1A;
}
.available {
    background-color: #3D5AFE;
}
.available .card-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}
.available .card-header h1 {
    font-size: 16px;
}
.available .card-header div {
    display: flex;
    gap: 6px;
}
.available .card-header div div {
    padding: 5.5px 12px;
    height: 32px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    transition: .6s;
}
.available .card-header div div:hover {
    cursor: pointer;
    color: #3D5AFE;
    transition: .6s;
    background-color: white;
}
.unavailable {
    padding-bottom: 55px;
}
.unavailable .card-header {
    font-size: 16px;
    margin-bottom: 6px;
    padding: 5.5px 0;
}
.unavailable .card-unavilable-status {
    display: flex;
    align-items: center;
    gap: 5px;
}
.unavailable .list-group-item {
    color: #6A6D76;
}
.card-unavilable-status div {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    margin-bottom: 6px;
    color:  #6A6D76;
}
.unavailable .unavailable-button {
    background-color: #393C48;
    border-radius: 18px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6A6D76;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
.connect-wallet {
    align-items: center;
    text-align: center;
    gap: 5px;
    padding: 16px 40px;
}
.connect-wallet .connect-wallet-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.connect-wallet .connect-wallet-btn {
    cursor: pointer;
    border-radius: 12px;
    padding: 8px 30px;
    border-radius: 32px;
    transition: .6s;
    border: 1px solid #070B1A;
}
.connect-wallet .connect-wallet-btn:hover {
    border: 1px solid #3D5AFE;
}
.connect-wallet .connect-wallet-body div {
    color: #3D5AFE;
    font-size: 14px;
}
.complete .complete-btn, .question .complete-btn {
    background-color: #3D5AFE;
    padding: 12px 30px;
    border-radius: 32px;
    transition: .6s;
}
.card.question {
    padding: 20px 47.5px;
}
.question .complete-btn:hover {
    cursor: pointer;
    color: #3D5AFE;
    transition: .6s;
    background-color: white;
}
.complete .complete-btn:hover {
    cursor: pointer;
    color: #3D5AFE;
    transition: .6s;
    background-color: white;
}
.reward-box {
    width: 508px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding: 30px 16px;
    display: flex;
    justify-content: space-between;
}
.card .card-body {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card .display-flex {
    display: flex;
    gap: 12px;
}
.card .list-group-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
    font-size: 14px;
    padding: 1px 0;
}
.card .item-Taker {
    display: flex;
    gap: 12px;
}
.card .item-Taker span {
    color: #6A6D76;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 2px 6px;
    font-size: 10px;
    text-align: center;
}
.complete .card-body, .verification .card-body, .question .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 12px;
}
.card .pharagrap-color {
    color: #6A6D76;
}
.card .active {
    opacity: 0;
    transform: translateY(5px);
    transition: .6s cubic-bezier(.79,.01,.15,.99);
}
.animation {
    transition: .6s cubic-bezier(.79,.01,.15,.99);
    opacity: 1;
    transform: translateY(0);
}
.animation .card-header-active {
    opacity: 1;
    transition: .6s cubic-bezier(.79,.01,.15,.99);
    transform: translateY(0);
    animation-delay: .1s;
    transition-delay: .1s;
}
.animation .card-body-active {
    opacity: 1;
    transition: .6s cubic-bezier(.79,.01,.15,.99);
    transform: translateY(0);
    animation-delay: .2s;
    transition-delay: .2s;
}
.animation .card-footer-active {
    opacity: 1;
    transition: .6s cubic-bezier(.79,.01,.15,.99);
    transform: translateY(0);
    animation-delay: .3s;
    transition-delay: .3s;
}

