.table-version {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  white-space: nowrap;
  width: 100%;
}
.table-head {
  width: 100%;
  display: flex;
  padding: 30px 15px;
  background: rgba(255, 255, 255, 0.03);
}
.table {
  display: flex;
  width: 100%;
  padding: 15px;
  align-items: center;
  justify-content: center;
}
.th {
  width: 15%;
  color: #9c9da3;
}
.td {
  width: 15%;
}
.table:nth-child(even) {
  background: rgba(255, 255, 255, 0.05);
}
.btn-adjust {
  margin-left: auto;
  display: flex;
  gap: 20px;
  align-items: center;
}

.btn-adjust svg {
  display: none;
}

.show-more-table {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 0 20px 15px;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(61, 90, 254, 0.1) 0%, rgba(61, 90, 254, 0.03) 100%);
  display: none;
}

.show-more-table__item{ 
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.show-more-table__item th { 
  color: #9C9DA3;
}

.show-more-buttons {
  display: flex;
  gap: 20px;
  padding-top: 20px;
  display: none;
}

@media only screen and (max-width: 1280px) {
  .th {
    width: 14.5%;
  }
  .td {
    width: 14.5%;
  }
}

@media only screen and (max-width: 1024px) {
  .th {
    width: 30%;
  }
  .td {
    width: 30%;
  }
  .table-none {
    display: none;
  }
  .btn-adjust svg {
    display: inline-block;
  }
  .show-more-table {
    display: block;
  }
  .show-more-td {
    color: #3D5AFE;
  }
}

@media only screen and (max-width: 769px) {
  .table {
    padding: 30px 15px;
  }
  .show-more-table {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 620px) {
  .btn-adjust .btn {
    display: none;
  }
  .show-more-buttons {
    display: flex;
  }
  .th {
    width: 45%;
  }
  .td {
    width: 45%;
  }
}

