.table-version {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.table-head {
  width: 100%;
  display: flex;
  padding: 30px 15px;
}
.table {
  display: flex;
  width: 100%;
  padding: 15px;
  align-items: center;
  gap: 3;
}
.th {
  color: #9c9da3;
}
.td,.th {
  height: 80px;
  display: flex;
}

@media (max-width: 1023px) {
  .btn {
    width: 80px;
    height: 43px;
  }
  .th {
    width: 15.3%;
  }
}
