.table-version {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.table-head {
  width: 100%;
  display: flex;
}
.table {
  display: flex;
  width: 100%;
  align-items: center;
}
.th {
  color: #9c9da3;
}
.td,.th {
  height: 80px;
  display: flex;
  align-items: center;
  padding-right: 40px;
}
.td.col {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.td.col span:nth-child(2) {
  font-size: 12px;
  color: #CDCED1;
}
.td span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
