.bidding-info-container {
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.bidding-info{ 
    width: 100%;
    height: 8.571rem;
    background: #070B1A;
    border-radius: 1.286rem;
    font-family: 'Uber Move';
    line-height: 140%;
    color: #FFFFFF;
    padding: 1.429rem 1.143rem;
}

.bidding-info h2{
    font-weight: 500;
}

.bidding-info p {
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 1025px) {
    .bidding-info-container {
        border: none;
    }
    .bidding-info {
        background: #0C1121;
    }
}