/* global */
.card-container {
  position: relative;
  border-radius: 8px;
  padding: 20px;
  height: 169px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header__buttons {
  display: flex;
  align-items: center;
}

.card-header__btn {
  padding: 6px 12px;
  cursor: pointer;
}

.card-header__btn-active {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  color: #3d5afe;
}

/* sale-card styles */
.sale-card {
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  flex-direction: column;
}

.sale-card-body {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 15px;
}

.sale-card__saleNumber {
  color: #ccc;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sale-card__saleIcon {
  display: flex;
  align-items: center;
  gap: 6px;
}

.sale-card__salePercentage {
  border: 1px solid rgba(61, 90, 254, 0.2);
  border-radius: 32px;
  background: rgba(61, 90, 254, 0.1);
  padding: 6px 16px;
  color: #3d5afe;
}

.sale-card-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.sale-card__lastSaleInfo {
  font-weight: 700;
  color: #6a6d76;
}

.sale-card__rotate {
  transform: rotate(90deg);
  position: absolute;
  top: calc(169px - 120px);
  right: -20px;
}

.sale-card__view {
  color: #3d5afe;
  cursor: pointer;
}

.sale-card__view:hover {
  color: #6a6d76;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

/* amount-card styles */
.amount-card {
  background: linear-gradient(262.18deg, #0b1023 0%, #1d2136 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
}

.amount-card__usdt {
  display: flex;
  align-items: center;
  color: #6a6d76;
}

.amount-card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.amount-card__info p:nth-child(2) {
  color: #6a6d76;
}

.coin-card-container {
}

.coin-card-body {
  gap: 5px;
}
