.card-slider-navigation-wrapper {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.card-slider-navigation {
  display: flex;
  overflow-x: auto;
  /* width: 100%; */
  /* justify-content: space-between;  */
}

.card-slider-navigation_item-deposit {
  display: flex;
  align-items: center;
  gap: 5px;
  /* color: ; */
}

.card-slider-navigation_item-deposit svg path {
  transition: .6;
}

.card-slider-navigation_item-deposit svg {
  transition: .6s;
}

.card-slider-navigation_item-deposit:hover svg path {
  stroke: #fff;
}

.card-slider-navigation_item-deposit:hover p {
  color: #fff;
}

.card-slider-navigation_item-deposit p {
  color: #c38c5c;
  cursor: pointer;
  transition: .6s;
}

.card-slider-faded {
  opacity: 0.5;
  pointer-events: none;
}

.card-slider-navigation_item_container {
  background: #0d1e21;
  border-radius: 20px 20px 0px 0px;
}

.card-slider-navigation_item {
  padding: 14px 28px;
  cursor: pointer;
  background: #0e2225;
  border-radius: 20px 20px 0px 0px;
  border: none;
}

.title_wrapper_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.tier-card {
  border-radius: 8px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.gold-tier {
  background-color: #c38c5c;
}

.diamond-tier {
  background-color: #c0c0c0;
}

.vip-tier {
  background-color: #dabae5;
}

.basic-tier {
  background-color: #3e412a;
}

.card-slider-navigation_item > p {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.4s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

.card-slider-navigation_item > p::first-letter {
  text-transform: capitalize;
}

.card-slider-navigation_item.active > p {
  color: #c38c5c;
}

.card-slider-navigation_item > p:hover {
  opacity: 0.8;
}

.card-slider-navigation_item.active {
  background: #0d1e21;
  border-radius: 20px 20px 0px 0px;
}

.card-slider-content {
  height: 280px;
  left: 424px;
  top: 160px;
  border-radius: 0px 0px 0px 20px;
  border-top: none;
  background: #0d1e21;
  padding: 20px 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.card-slider-content-wrap {
  border-radius: 20px;
}

.card-slider-cards-container {
  display: flex;
  gap: 10px;
  overflow-y: visible !important;
  overflow-x: clip !important;
}

.card-slider-card {
  width: 268px;
  height: 176px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border: 1px solid transparent;
}

.card-slider-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.card-slider-content .swiper-slide {
  width: 268px;
}

.card-slider-content .swiper {
  margin: 0 !important;
  width: 100% !important;
  position: relative !important;
}

.card-slider-content .swiper-slide {
  width: 268px;
}

.card-slider-card_header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 20px 20px 10px;
}
.card-slider-card_header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-slider-card_header h4 {
  text-transform: capitalize;
}

.card-slider-card_content {
  font-weight: 700;
  font-size: 26px;
  line-height: 150%;
  letter-spacing: 1px;
  color: #fff;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-slider-card_footer {
  display: flex;
  border-radius: 0px 0px 19px 19px;
  background: #0e2225;
  padding: 10px 0;
  border: 1px solid transparent;
  align-items: center;
  gap: 5px;
}

.card-slider-card_footer-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  padding: 0 20px;
}

.card-slider-card_footer-item p,
.card-slider-card_footer-item-svg {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

.card-slider-card_footer-item p {
  color: rgb(255, 255, 255, 0.6);
}

.card-slider-card_footer-item .card-slider-card_footer-item-svg path {
  stroke: rgb(255, 255, 255, 0.6);
}

.card-slider-card_footer-item:hover p {
  color: #fff;
}

.card-slider-card_footer-item:hover .card-slider-card_footer-item-svg path {
  stroke: #fff;
}

.card-slider-card_footer-item.active p {
  color: #c38c5c;
}

.card-slider-card_footer-item.active .card-slider-card_footer-item-svg path {
  stroke: #c38c5c;
}

.card-slider-card_footer-item.active:hover p {
  opacity: 0.9;
}

.card-slider-card_footer-item.active:hover .card-slider-card_footer-item-svg path {
  opacity: 0.9;
}

.card-slider-cards-mover {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding: 0 20px 0 30px;
  align-items: center;
}

.card-slider-cards-mover-icons {
  display: flex;
  gap: 20px;
}

.card-slider-cards-mover-icons svg {
  cursor: pointer;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

.card-slider-cards-mover-icons svg:hover {
  opacity: 0.8;
}

.card-slider-cards-mover-icons_active path {
  stroke: rgb(255, 255, 255, 0.4);
}

.card-slider-cards-container .swiper-pagination-progressbar {
  width: calc(100% - 148px);
  height: 8px;
  background-color: rgb(255, 255, 255, 0.1) !important;
  border-radius: 4px;
  position: absolute;
  left: 128px;
  top: 214px;
  z-index: 10;
  overflow: hidden;
}
.card-slider-content .swiper-button-disabled {
  opacity: 0.5 !important;
}

.card-slider-content .swiper-button-lock {
  display: flex !important;
}

.card-slider-cards-container .swiper-pagination-progressbar-fill {
  border-radius: 4px !important;
  background-color: #c38c5c;
}

.card-slider-cards-container .swiper-pagination-lock {
  display: flex !important;
}

.card-slider-cards-container .swiper-pagination-lock .swiper-pagination-progressbar-fill {
  width: 0% !important;
}

.card-slider-navigation_item_container .left-border-radius {
  border-radius: 0px 0px 20px 0px;
}

.card-slider-navigation_item_container .right-border-radius {
  border-radius: 0px 0px 0px 20px;
}

@media only screen and (max-width: 767px) {
  .card-slider-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .card-slider-navigation_item.active {
    border-radius: 20px;
  }
  .card-slider-cards-mover {
    padding: 0 10px;
  }
  .card-slider-content {
    border-radius: 20px;
  }
  .card-slider-cards-container .swiper-pagination-progressbar {
    width: calc(100% - 118px);
    left: 108px;
  }
}
