.level-system-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  background: rgba(16, 40, 43, 1);
  padding: 20px;
}

.level-system-container p {
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.1);
}

.level-system-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 0px 16px 16px;
  gap: 20px;
  width: 100%;
}

.level-system-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.level-system-th {
  color: #9c9da3;
}

.level-system-table {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.level-system-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-height: 40vh;
  overflow: auto;
}
.level-system-td,.level-system-th {
  width: 33%;
}
