.popup-element-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border-bottom: 1px solid rgb(32, 36, 49);
    border-right: 1px solid rgb(32, 36, 49);
    border-left: 1px solid rgb(32, 36, 49);
    background: rgb(20, 23, 38);
    border-radius: 0px 0px 8px 8px;
    gap: 20px;
    width: 100%;
}

.popup-element-inputs {
    width: 100%;
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    margin: 0;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.popup-element-input-container {
    position: relative;
}

.popup-element-max {
    position: absolute;
    top: 36px;
    right: 15px;
    cursor: pointer;
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

.popup-element-max:hover {
    opacity: .7;
}